@import '../source';

.main{
    width: 100vw;
    height: 100vh;
    background-size: 150% 150%;
    animation: bGrad 8s ease-in-out infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    @include disp(column, space-between, center);
    overflow: hidden;
    color: black;
    display: none;
}

@keyframes bGrad {

    /*dynamic gradient animation*/
    0% {
        background-position: 50% 0%;
    }

    12.5% {
        background-position: 50% 25%;
    }

    25% {
        background-position: 50% 50%;
    }

    37.5% {
        background-position: 50% 75%;
    }

    50% {
        background-position: 50% 100%;
    }

    62.5% {
        background-position: 50% 75%;
    }

    75% {
        background-position: 50% 50%;
    }

    87.5% {
        background-position: 50% 25%;
    }

    100% {
        background-position: 50% 0%;
    }
}